name: Metrics
on:
    # Schedule daily updates
    schedule: [{ cron: "0 0 * * *" }]
    # (optional) Run workflow manually
    workflow_dispatch:
    # (optional) Run workflow when pushing on master/main
    push: { branches: ["main"] }
jobs:
    github-metrics:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  user: TsekaLuk
                  template: classic
                  base: header, activity, community, repositories, metadata
                  repositories_forks: yes
                  config_timezone: Asia/Shanghai
                  config_display: large
                  extras_css: |
                      text, .field, .header, .stat, h1, h2, h3, .content { 
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !important;
                      }
                      .stat-value {
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !important;
                        font-weight: 600 !important;
                      }
                  plugin_languages: yes
                  plugin_languages_ignored: >-
                      html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
                      gnuplot
                  plugin_languages_limit: 8
                  plugin_languages_sections: most-used
                  plugin_languages_threshold: 0%
                  plugin_languages_details: bytes-size, percentage
                  plugin_languages_indepth: yes
                  plugin_languages_indepth_custom: >-
                      TsekaLuk/any2md,TsekaLuk/Cursor-export-extension,TsekaLuk/hydrogem-web,
                      TsekaLuk/Snake-Poison
                  plugin_languages_analysis_timeout: 20
                  plugin_languages_analysis_timeout_repositories: 6
