name: Metrics
on:
    # Schedule daily updates
    schedule: [{ cron: "0 0 * * *" }]
    # (optional) Run workflow manually
    workflow_dispatch:
    # (optional) Run workflow when pushing on master/main
    push: { branches: ["main"] }
jobs:
    github-metrics:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  user: TsekaLuk
                  template: classic
                  base: header, activity, community, repositories, metadata
                  repositories_forks: yes
                  config_timezone: Asia/Shanghai
                  config_display: large
                  extras_css: |
                      text, .field, .header, .stat, h1, h2, h3, .content { 
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !important;
                      }
                      .stat-value {
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !important;
                        font-weight: 600 !important;
                      }
