name: Metrics
on:
    # Schedule daily updates
    schedule: [{ cron: "0 0 * * *" }]
    # (optional) Run workflow manually
    workflow_dispatch:
    # (optional) Run workflow when pushing on master/main
    push: { branches: ["main"] }
jobs:
    github-metrics:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  user: TsekaLuk
                  template: classic
                  base: header, activity, community, repositories, metadata
                  config_timezone: Asia/Shanghai
                  config_display: large
                  extras_css: |
                      * { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !important; }
                  plugin_languages: yes
                  plugin_languages_ignored: >-
                      html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
                      gnuplot
                  plugin_languages_limit: 8
                  plugin_languages_sections: most-used
                  plugin_languages_threshold: 0%
